branches/versao-1.0/SeeYouRunner/SeeYouRunner/Service References/WindowsPhoneServiceProducao/WindowsPhoneService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://54.232.124.146:3350/WindowsPhoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindowsPhoneService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsPhoneService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WindowsPhoneService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoPercurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="isMetrico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoPercursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NovoPercursoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaPercurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="descr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="velocidadeMedia" type="xs:double" />
        <xs:element minOccurs="0" name="velocidadeMaxima" type="xs:double" />
        <xs:element minOccurs="0" name="distancia" type="xs:double" />
        <xs:element minOccurs="0" name="ritimo" type="xs:double" />
        <xs:element minOccurs="0" name="altitudeMaxima" type="xs:double" />
        <xs:element minOccurs="0" name="altitudeMinima" type="xs:double" />
        <xs:element minOccurs="0" name="altitudeVariacao" type="xs:double" />
        <xs:element minOccurs="0" name="calorias" type="xs:double" />
        <xs:element minOccurs="0" name="duracao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizaPercursoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPontos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="velocidade" type="xs:double" />
        <xs:element minOccurs="0" name="distancia" type="xs:double" />
        <xs:element minOccurs="0" name="ritimo" type="xs:double" />
        <xs:element minOccurs="0" name="altitude" type="xs:double" />
        <xs:element minOccurs="0" name="calorias" type="xs:double" />
        <xs:element minOccurs="0" name="duracao" type="xs:int" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isMetrico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPontosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>