branches/SeeYouTest/SeeYouTest/Service References/PhoneServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WindowsPhoneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PhoneService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWindowsPhoneService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_NovoPercurso_InputMessage">
    <wsdl:part name="parameters" element="tns:NovoPercurso" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_NovoPercurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:NovoPercursoResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_AtualizaPercurso_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaPercurso" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_AtualizaPercurso_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizaPercursoResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_AddPontos_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPontos" />
  </wsdl:message>
  <wsdl:message name="IWindowsPhoneService_AddPontos_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPontosResponse" />
  </wsdl:message>
  <wsdl:portType name="IWindowsPhoneService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsPhoneService/GetData" message="tns:IWindowsPhoneService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsPhoneService/GetDataResponse" message="tns:IWindowsPhoneService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsPhoneService/GetDataUsingDataContract" message="tns:IWindowsPhoneService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsPhoneService/GetDataUsingDataContractResponse" message="tns:IWindowsPhoneService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NovoPercurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsPhoneService/NovoPercurso" message="tns:IWindowsPhoneService_NovoPercurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsPhoneService/NovoPercursoResponse" message="tns:IWindowsPhoneService_NovoPercurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaPercurso">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsPhoneService/AtualizaPercurso" message="tns:IWindowsPhoneService_AtualizaPercurso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsPhoneService/AtualizaPercursoResponse" message="tns:IWindowsPhoneService_AtualizaPercurso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPontos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsPhoneService/AddPontos" message="tns:IWindowsPhoneService_AddPontos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsPhoneService/AddPontosResponse" message="tns:IWindowsPhoneService_AddPontos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWindowsPhoneService" type="tns:IWindowsPhoneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWindowsPhoneService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IWindowsPhoneService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NovoPercurso">
      <soap:operation soapAction="http://tempuri.org/IWindowsPhoneService/NovoPercurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPercurso">
      <soap:operation soapAction="http://tempuri.org/IWindowsPhoneService/AtualizaPercurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPontos">
      <soap:operation soapAction="http://tempuri.org/IWindowsPhoneService/AddPontos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WindowsPhoneService">
    <wsdl:port name="BasicHttpBinding_IWindowsPhoneService" binding="tns:BasicHttpBinding_IWindowsPhoneService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/PhoneService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>